.profile {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &__user-metadata {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    width: 40%;
  }

  &__user-images {
    display: flex;
    justify-content: center;
    width: 60%;
  }
}
