.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  &__week-picker {
    display: flex;
    width: 10%;
    height: 10%;
    border: 1px solid black;

    & > button {
      border: none;
    }
  }

  &__empty-data {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24pt;
    padding: 5%;
  }

  &__container {
    overflow: auto;
    width: 80%;
    padding: 5%;

    &-full {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 5%;
    }
  }

  &__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
  }

  &__day {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  &__schedule {
    width: 100%;
    height: 100%;
    display: flex;
  }
}
