.configuration {
  &__container {
    height: 80%;
    width: 100%;
    font-size: 20pt;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__select-container {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10%;
  }
}
