.image__picture {
  height: 100%;
  width: 20%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.image__item-description {
  width: 40%;
}

.image__item-description p {
  margin: 0;
}

.image__comment-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  overflow: auto;
  font-size: 0.8rem;
  border: 1px solid black;
}

.image__send-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image__comment {
  border-bottom: 1px solid black;
  padding: 0.5rem;
}
