.university-picker {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-content: center;

  &__header {
    text-align: center;
    padding: 2rem 0;
    font-size: 2rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50%;
    border: 1px solid black;
    background-color: white;
    overflow: auto;
  }

  &__university-card {
    display: flex;
    width: 100%;
    border: 1px solid black;

    &-last {
      display: flex;
      width: 100%;
      border: none;
    }
  }

  &__name {
    width: 100%;
    height: 100%;
    &:hover {
      cursor: pointer;
      background-color: grey;
      transition: 1s;
    }
  }

  &__img-container {
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-right: 1px solid black;
  }

  &__img-container > img {
    width: 100%;
    height: 100%;
  }

  &__img-container + span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
